form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: lightgray;
}

input {
	margin: 10px;
}

.results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: lightgreen;
}